body{
    background: #E5E5E5;
    font-family:'Courier New', Courier, monospace;
}
main{
    height: 100vh;
}
.contenedor-cajas{
    display: flex;
    height: 90%;
}
#logo{
    margin-left: 10%;
    margin-top: 2%;
}
/* TEXTO A INGRESAR */
.caja-texto{
    width: 65%;
    height: 80%;
    margin-left: 8%;
 
}
#textotarea{
    outline: none;
    background:#E5E5E5;
    width: 70%;
    height: 100%;
    margin-left: 20%;
    font-size: 28px;
    color: #0A3871;
    resize: none;
    border: none;
    text-align: center;
    text-transform: lowercase;
}

#textotarea::-webkit-scrollbar {
    width: 8px;
    background-color: #f1f1f1b3;
  

}
#textotarea::placeholder{
    color: #0A3871;
    font-size: 25px;
}
.caja-texto form{
    height: 99%;
    
}
/* AQUI TERMINA EL TEXTO A INGRESAR */

/* TEXTO PROCESADO */

.texto-encriptado{
    width: 24%;
    margin-top: -4%;
    height: 100%;
    border-radius: 32px;
    background: rgb(255, 255, 255);
    text-align: center;
}
.texto-encriptado img{
    width: 65%;
    margin: 15%;
    margin-top: 35%;
}
.texto-encriptado button{
    width: 80%;
    margin-top: 1%;
}
.mostrar{
    display: none;
}
.mostrar textarea{
    width: 80%;
    height: 80%;
    margin-top: 5%;
    border: none;
    margin-bottom: -5%;
    outline: none;
    color:#0A3871;
    font-size: 150%;
    font-display:initial ;
    resize: none;
    text-align: center;
}
/* AQUI TERMINA EL TEXTO PROCESADO */

/* BOTONES */
.boton1{
    width: 30%;
    height: 50px;
    border: none;
    margin: -90% 1px; 
    border-radius: 24px;
    background: #0A3871;
    color: aliceblue;
    cursor: pointer;
    margin-right: 10%;
}
.boton2{
    width: 30%;
    height: 50px;
    border: none;
    /* margin: 10px 50px; */
    border-radius: 24px;
    background: #0a38715f;
    color:#0A3871;
    border-style: solid;
    border-width: 1px;
    border-color: #0A3871;
    cursor: pointer;
}
.texto-encriptado button{
    margin-top: 10px;
    width:40% ;
}
.modoObscuro{
    border: none;
    background: #0A3871;
    border-radius: 32px;
    color: #E5E5E5;
    height: 5%;
}



.botones{
    margin: -7% 5%;
}
/* AQUI TERMINAN LOS BOTONES */

.modo-obscuro {
    background: #2d2b2b;
}
.modo-obscuro #textotarea{
    background: #2d2b2bc7;
    border-radius: 10px;
    color: #E5E5E5;
}
.modo-obscuro #textotarea::-webkit-scrollbar {
    width: 8px;
    background-color: #f1f1f114;
  

}
.modo-obscuro .texto-encriptado{
    background: #3e3e3e;
    color: #E5E5E5;
}
.modo-obscuro .mostrar textarea{
    background: #3e3e3e;
    color: #E5E5E5;
    /* font-size: large; */
}
.modo-obscuro .boton1{
    font-size: large;
}
.modo-obscuro .boton2{
  background: #e5e5e596;
  font-size: large;
}
.modo-obscuro #textotarea::placeholder{
    color: #E5E5E5;
   
}


/* TABLETA */
@media (min-width: 768px) and (max-width: 1024px){
    #textotarea{
        background: red;
    }
  }